certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
customtkinter==5.2.2
darkdetect==0.8.0
docutils==0.21.2
idna==3.7
Kivy==2.3.0
Kivy-Garden==0.1.5
kivymd==1.2.0
numpy==1.26.4
packaging==24.0
pillow==10.3.0
PyAudio==0.2.14
pycparser==2.22
pygame==2.5.2
Pygments==2.18.0
requests==2.32.2
scipy==1.13.1
setuptools==69.5.1
sounddevice==0.4.7
urllib3==2.2.1
wheel==0.43.0